# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vitepress generated dirs
docs/.vitepress/cache
docs/.vitepress/dist
# destiny doc generated dirs
docs/.vitepress/Components
docs/public/api
docs/public/tests
docs/public/coverage

